<h1>Add a New Documentary</h1>
<%= form_with model: @documentary_film, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>
  </div>
  <div>
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>